/* Couleurs du thème */

.w3-theme-l5 {color:#000 !important; background-color:#faf9f8 !important}
.w3-theme-l4 {color:#000 !important; background-color:#efeae6 !important}
.w3-theme-l3 {color:#000 !important; background-color:#dfd4cd !important}
.w3-theme-l2 {color:#000 !important; background-color:#cfbfb4 !important}
.w3-theme-l1 {color:#000 !important; background-color:#bfa99b !important}
.w3-theme-d1 {color:#fff !important; background-color:#a48470 !important}
.w3-theme-d2 {color:#fff !important; background-color:#95745f !important}
.w3-theme-d3 {color:#fff !important; background-color:#836654 !important}
.w3-theme-d4 {color:#fff !important; background-color:#705748 !important}
.w3-theme-d5 {color:#fff !important; background-color:#5d493c !important}

.w3-theme-light {color:#000 !important; background-color:#faf9f8 !important}
.w3-theme-dark {color:#fff !important; background-color:#5d493c !important}
.w3-theme-action {color:#fff !important; background-color:#5d493c !important}

.w3-theme {color:#fff !important; background-color:#af9483 !important}
.w3-text-theme {color:#af9483 !important}
.w3-theme-border {border-color:#af9483 !important}
.w3-hover-theme:hover {color:#fff !important; background-color:#af9483 !important}


/* Liens */
a {  text-decoration:none; }
a:hover {  text-decoration:underline;  }
/* article section a {color:#af9483 } */ /* w3-text-theme */


/* Images */
img {    height: auto;    max-width: 100%;}

/* Commentaires */
.coments .level-0 {  }
.coments .level-1 {  margin-left: 32px;}
.coments .level-2 {  margin-left: 64px;}
.coments .level-3 {  margin-left: 96px;}
.coments .level-4 {  margin-left: 128px;}
.coments .level-5 {  margin-left: 160px;}
#id_answer .comment-reply, #id_answer .comment-link {  display: none}

/** Navigation **/
.menu-large.w3-navbar ul {  display: none;   position:absolute;  z-index: 1;}
.menu-large.w3-navbar li:hover > ul {	display:block;	padding: 0px;}
.menu-large.w3-navbar ul li   {	  float:none;   display : block;  }
.menu-large.w3-navbar div:after  {	   font-family: FontAwesome;  content:"    \f0d7"}
.menu-small ul li ul li   {	   list-style-type: none;}
.menu-small ul li ul li a:before  {	   font-family: FontAwesome;  content:"\f0da    "}

/** Icones dans le menu **/
/* nav ul li#static-home a:before {font-family: FontAwesome; content:"\f015   ";} */
/* nav ul li#static-1 a:before {font-family: FontAwesome; content:"\f1d6   ";} */

/** Tags **/
aside ul.tag-list li {  display: inline-block ;  margin-right:1rem;}
aside ul.tag-list {  list-style-type: none;}
.tag-size-1   	{ font-size: 1em;   }
.tag-size-2   	{ font-size: 1.1em; }
.tag-size-3   	{ font-size: 1.2em; }
.tag-size-4   	{ font-size: 1.3em; }
.tag-size-5   	{ font-size: 1.4em; }
.tag-size-6   	{ font-size: 1.5em; }
.tag-size-7   	{ font-size: 1.6em; }
.tag-size-8   	{ font-size: 1.7em; }
.tag-size-9   	{ font-size: 1.8em; }
.tag-size-10  	{ font-size: 1.9em; }
.tag-size-max 	{ font-size: 2em;   }
/* .tag-size-1 a 	{ color: #cfbfb4; }    		/* theme-l2 */
/* .tag-size-2 a 	{ color: #bfa99b; }      	/* theme-l1 */
/* .tag-size-3 a 	{ color: #af9483; }  		/* theme */
/* .tag-size-4 a 	{ color: #a48470; }  		/* theme-d1 */
/* .tag-size-5 a 	{ color: #a48470; }  		/* theme-d1 */
/* .tag-size-6 a 	{ color: #95745f; }  		/* theme-d2 */
/* .tag-size-7 a 	{ color: #95745f; }  		/* theme-d2 */
/* .tag-size-8 a 	{ color: #836654; }  		/* theme-d3 */
/* .tag-size-9 a 	{ color: #836654; }  		/* theme-d3 */
/* .tag-size-10 a	{ color: #705748; } 		/* theme-d4 */
/* .tag-size-max a { color: #5d493c; } 		/* theme-d5 */

/** Titres **/
/* .w3-text-theme-dark {color:#5d493c !important}  /* theme-d5 */

/** cacher le lien "Lire la suite" **/
/* article section p.more {display: none;} */
