/* Liens */
a {
text-decoration:none;
}
a:hover {
text-decoration:underline;
}
/* fin Liens */

/* Commentaires */
.coments .level-0 {  
}
.coments .level-1 {
  margin-left: 32px;
}
.coments .level-2 {
  margin-left: 64px;
}
.coments .level-3 {
  margin-left: 96px;
}
.coments .level-4 {
  margin-left: 128px;
}
.coments .level-5 {
  margin-left: 160px;
}
#id_answer .comment-link-reply {
  display: none
}
/* fin Commentaires */

/** Navigation **/
.w3-navbar ul {
  display: none; 
  position:absolute;
  z-index: 1;
  margin-left: -8px;
}
.w3-navbar li:hover > ul {
	display:block;
	padding: 0px;
}
.w3-navbar ul li   {	
  float:none; 
  display : block;  
  padding-left: 8px; 
  padding-right: 8px;  
}
.w3-navbar ul li:last-child {
  padding-bottom: 8px;
}
